body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(232,232,232);
  /* background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(151,170,176,1) 90%, rgba(73,83,85,1) 100%); */
  /* text-shadow: 1px 1px gray; */
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.prediction{
  height: 20%;
  width: 50%;
  background-color: beige;
}
.grid-containerV{
  margin-left: 10px;
  margin-bottom: 60px;
}

@media only screen and (min-width: 200px) {
  .grid-container{
    display: grid;
    grid-template-columns: auto;
    margin-top: 0 auto;
    grid-auto-rows: 400;
    column-gap: 25px;
    justify-items: center;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 700px) {
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 0 auto;
    grid-auto-rows: 400;
    justify-items: center;
  }
}

@media only screen and (min-width: 1100px) {
  .grid-containerV{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 60% ;
    grid-template-areas:
    "camera-viewport parameters"
    "....... prediction ";
    background-color: #fff;
    color: #444;
  }
  .grid-itemV{
    margin: 50px;
  }
  .parameters{
    grid-area: parameters;
    margin-left: 35%;
    margin-top: 100px;
  }
  .camera-viewport{
    grid-area: camera-viewport;
  }
  .prediction{
    grid-area: prediction;
    height: 35%;
    width: 80%;
    background-color: beige;
  }
}



.grid-items{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  
  /* margin: 0 auto; */
}

.statusbox{
  height: 300px;
  width: 300px;
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
  text-align: center;
  padding-top: 120px;
  /* align-self: center; */
  border: 1px solid rgb(134, 134, 134);
}
.drop-area:hover{
  cursor: pointer;
}

.drop-area{
  border-radius: 10px;
  border: 1px solid rgb(134, 134, 134);
}

.select{
  border-radius: 15px;
}

.navbar a {
  text-decoration: none;
  color: antiquewhite;
}

.nav-menu{
  margin-left: 15px;
}